body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #363958;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Bebas Neue', cursive;
    color: #363958;
}
h1{
    margin-top: 100px;
    font-size: 80px;
    font-weight: 400;
    line-height: .1em;
}
h3{
    margin-top: 150px;
    font-size: 50px;
    line-height: 0.1em;
    font-weight: 200;
}
a{
    text-decoration: none;
    color: #FFFFFF;
    border: 2p solid none;
    border-radius: 5px;
    background-image: linear-gradient(#F56060, #FEBCB1);
    padding: 14px 48px;
    transition-duration: 1s;
}
a:hover{
    background-image: linear-gradient( #FEBCB1, #F56060); 
}
.container{
    width: 85%;
    margin: auto;
}

.header-area{
    padding-bottom: 50px;
}

.heading{
    width: 100%;
    height: 100px;
}
.heading ul{
    float: right;
    margin: 40px 0 0 0;
    font-weight: bold;
    color: #3C3C3C;
}
.header-area .left-area p{
    margin-bottom: 40px;
}
#highlight{
    color: #FF8367;
}
.header-area{
    overflow: hidden;
}
.heading ul li{
    text-decoration: none;
    list-style: none;
    display: inline;
    padding: 5px 20px;
}
.header-area .left-area{
    width: 50%;
    float: left;
}
.header-area .right-area{
    width: 50%;
    float: left;
}
.header-area .right-area img{
    width: 90%;
    height: auto;
}
.lorem{
    overflow: hidden;
    padding-bottom: 50px;
}
.lorem .left-area img{
    width: 75%;
    height: auto;
}
.lorem .left-area{
    float: left;
    width: 62%;
}
.lorem .right-side{
    float: left;
    width: 38%;
}
.lorem .right-side p{
    margin-bottom: 50px;
}

.portfolio_part{
    padding-bottom: 80px;
    background-color: #F8F9FC;
    overflow: hidden;
    display: block;
}
.portfolio_part h3{
    text-align: center;
}
.portfolio_part .work_portfolio{
    width: 100%;
    margin: auto;
    text-align: center;
    overflow: hidden;

}
.portfolio img{
    width: 80%;
    height: auto;
}
.portfolio_part .work_portfolio .portfolio{
    width: 25%;
    float: left;
    overflow: hidden;
    padding: 1%;
    margin: 3%;
    box-shadow: 10px 10px 40px gray;
    transition-duration: 1s;
}
.portfolio_part .work_portfolio .portfolio:hover{
    box-shadow: 10px 10px 40px #FF8367;
}


.work-in{
    width: 70%;
    height: 500px;
    background-image: url("shapes/Group_33094_1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 16%;

}
.one h3{
    float: left;
    margin-top: 250px;
    margin-left: 50px;
}
.one a{
    float: right;
    margin-top: 230px;
    margin-right: 50px;
}

footer{
    width: 100%;
    text-align: center;
    margin: auto;
}
footer h5{
    color: #696871;
    font-weight: 400;

}
footer p{
    color: #363958;
    font-size: 25px;
    font-weight: bold;
}
.social-icon ul{
    width: 80%;
    margin: auto;
    padding: 0;
}

.social-icon ul li{
    list-style: none;
    display: inline;
    padding: 5px 10px;

}

.social-icon ul li img{
    width: 40px;
    height: auto;
}